* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}

/* Basic Container Styling */
.container {
  background-color: darkgrey;
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  border: black 2px solid;
  border-radius: 15px;
  text-align: center;
}

/* Top Display Styling */
.container .display-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .display-container .display{
  background-color: white;
  height: 30px;
  font-size: 24px;
  margin-right: 5px;
  border: black 1px solid;
  border-radius: 5px;
  flex: 3;
}
.container .display-container .clear{
  background-color: white;
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
}

/* Button Styling */
.container .button-container{
  background-color: whitesmoke;
  margin: 7.5px 0;
  height: 200px;
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.container .button-container .num-container{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .button-container .num-container .button-row {
  display: flex;
  justify-content: space-around;
  
}
.container .button-container .num-container .button-row div {
  background-color: lightgrey;
  font-size: 18px;
  width: 45px;
  padding: 5px;
  border: solid lightslategrey 1px;
  border-radius: 12px;
}
.container .button-container .operator-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container .button-container .operator-container div{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 35px;
  background-color: lightskyblue;
  border: lightslategrey 1px solid;
  border-radius: 15px;
}

/* Pressed Btn Styling */
.container .button-container .num-container .button-row .num-pressed {
  background-color: darkgray;
}

.container .button-container .operator-container .operator-pressed {
  background-color: royalblue;
}
